<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.INTERNET"/>
 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
 <application android:theme="@style/AppTheme" android:label="@string/app_name" android:supportsRtl="false" android:allowBackup="true" android:usesCleartextTraffic="true">
  <activity android:name=".AccountTreeMainActivity" android:screenOrientation="portrait"/>
  <activity android:name=".BillEditActivity" android:screenOrientation="portrait"/>
  <activity android:name=".Bills2Activity" android:screenOrientation="portrait"/>
  <activity android:name=".ReportsListActivity" android:screenOrientation="portrait"/>
  <activity android:name=".ReportActivity" android:screenOrientation="portrait"/>
  <activity android:name=".CustomersActivity" android:screenOrientation="portrait"/>
  <activity android:name=".ItemsActivity" android:screenOrientation="portrait"/>
  <activity android:name=".SettingsActivity" android:screenOrientation="portrait"/>
  <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
  </activity>
 </application>
</manifest>